{%load staticfiles %}
<!doctype html>
<html>
<head>
    <title>
         {% block title %}Taiwanese Pop Music Project{% endblock title %}
    </title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block header %}{% endblock header %}
</head>
<body>
    <div class="container">
       <div class="nav"> 
        <h2>Vote your favorite!</h2>
          <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
                <li>
                    <a href="{% url 'browse' %}">Browse</a>
                    </li>  
                    
                {% if user.is_authenticated %}
                 <li>
                     <a href="{% url 'auth_logout' %}">Logout</a>
                 </li>
                 {% else %}
                 <li>
                     <a href="{% url 'auth_login' %}">Login</a>
                 </li>
                 <li>
                     <a href="{% url 'registration_register'%}">Register</a>
                 </li>
                 {% endif %}
            </ul>
          </nav>
        </div>

        <div class="main">
          <h1>Taiwanese Pop Music</h1>
          <h2>Vote for Your Favorite!</h2>
          <p> Vote your favorite version of different singer's for your favorite songs.</p>     
          {% block content %}{% endblock content %}
         </div>   
    {% block footer %}{% endblock footer %}
   </div> 
</body>
</html>
